body {
	margin: 0;
	padding: 0 40px;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	text-align: center;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

/* general */

.main-wrapper {
	border-bottom: 1px solid transparent; /* Чтобы маргины не выпадали */

	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.dark-button {
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #766357;
	border: none;
}

.dark-button:hover,
.dark-button:focus {
	background-color: #604e43;
}

.dark-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.light-button {
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #81b3d2;
	border: none;
}

.light-button:hover,
.light-button:focus {
	background-color: #669ec0;
}

.light-button:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

/* header */

.main-navigation a {
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #81b3d2;
}

.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation .current-page {
	color: #766357;
}

.main-navigation ul {
	list-style: none;
}

/* index */

.intro {
	background-color: #97817d;
	background-image: url("../img/background-photo.jpg");
	background-position: center center;
	background-repeat: no-repeat;
}

.features-list {
	list-style: none;
}

.features-list h3,
.features-list ul b {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.blue-item h3 {
	color: #ffffff;
}

.blue-item {
	color: #ffffff;

	background-color: #81b3d2;
}

.features-list li:first-child .img-item {
	background-color: #81b3d2;
	background-image: url(../img/mini-city.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.features-list ul {
	list-style: none;
}

.features-list li:nth-child(2) .img-item {
	background-color: #81b3d2;
	background-image: url(../img/bridge.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

.features-intro {
	line-height: 26px;
}

.features-intro strong {
	font-size: 21px;
	font-weight: 700;
	color: #000000;
}

.hotel-search {
	line-height: 24px;
}

.hotel-search b{
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.hotel-search .dark-button {
	font-size: 21px;
	line-height: 26px;
}

.hotel-search .light-button {
	font-size: 21px;
	line-height: 26px;
}

.hotel-search-form {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: left;
}

.hotel-search-form input {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: left;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none;
}

.hotel-search-form input:hover {
	background-color: #ebebeb;
}

.hotel-search-form input:focus {
	outline: 0;

	background-color: #ffffff;
	box-shadow: inset 0 0 0 2px #e5e5e5; 
}

.hotel-search-form input[type="number"] {
	text-align: center;
}

/* footer */

.main-footer {
	background-color: rgba(255, 255, 255, 0.5);
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.main-footer ul {
	list-style: none;
}

.copyright {
	line-height: 26px;
	color: #000000;
}

/* catalog */

.inner-page {
	text-align: left;
}

.hotel-filter-form {
	color: #ffffff;

	background-color: #729bc1;
	background-image: url("../img/filter-background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
}

.hotel-filter-form legend {
	font-size: 16px;
	font-weight: 700;
}

.hotel-filter-form fieldset {
	border: none;
}

.hotel-filter-form input[type="text"] {
	color: #ffffff;

	background-color: transparent;
	border: none;
}

.hotel-filter-form button[type="submit"] {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.hotel-filter-form button[type="submit"]:hover,
.hotel-filter-form button[type="submit"]:focus {
	color: #000000;

	background-color: #ffffff;
}

.sort-line b{
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.sort-line {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.sort-line ul{
	list-style: none;
}

.sort-line a{
	color: rgba(0, 0, 0, 0.3);

	border-bottom: 1px dotted #81b3d2;
}

.sort-line a:hover,
.sort-line a:focus {
	color: #81b3d2;

	border-bottom: 1px dotted #81b3d2;
}

.sort-line a:active {
	color: #000000;

	border-bottom: none;
}

a.active-sort {
	color: #81b3d2;

	border-bottom: none;
}

.catalog-list {
	list-style: none;
}

.item-link h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.item-link:hover h3,
.item-link:focus h3 {
	color: #81b3d2;
}

.item-link:active h3 {
	color: rgba(0, 0, 0, 0.3);
}

.item-rating b{
	font-weight: 400;

	background-color: #f2f2f2;
}